body {
    background-color: #f5f5f5;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
}


.color {
    width: 50px;
    height: 50px;
}

.tableCell {
    width: 140px;
}

.row-edit {
    opacity: 0.3;
}

.row {
    opacity: 1;
}

.helper {
    background-color: white;
    box-shadow: 6px 5px 15px -6px rgba(0,0,0,0.53);
}

@media screen and (max-width: 992px) {
 .wrapper {
    width: 700px;
} 
}

@media screen and (max-width: 700px) {
  .wrapper {
    width: 400px;
}
}
